:root {
  --bg-color: #17161B;
  --text: #f1f1f3;
  --secondary: #28272C;
  --accent: linear-gradient(to right top, #9092DA, #BFBEE3);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text);
  font-family: 'Poppins';
}

#gameboard {
  height: 435px;
  width: 435px;
  /* border: solid; */
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary)
}

#info {
  font-size: 1.3em;
}

.btn {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--text);
  padding: 15px 50px;
  border: solid 2px var(--text);
  border-radius: 2px;
  background: var(--secondary);
  cursor: pointer;
  box-shadow: 0px 0px 10px var(--text) inset;
  transition: box-shadow 0.2s;
}
.btn:hover {
  box-shadow: none;
}

.square {
  height: 145px;
  width: 145px;
  border: solid 0.5px var(--text);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: solid 9px var(--text);
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}
.cross::before, .cross::after {
  content: '';
  position: absolute;
  background: var(--accent);
}
.cross::before{
  left: 50%;
  height: 100%;
  width: 30%;
  margin-left: -15%;
}
.cross::after {
  top: 50%;
  height: 30%;
  width: 100%;
  margin-top: -15%;
}

.winner {
  box-shadow: 0px 0px 15px var(--text) inset;
}
